# Visual Studio temporary files
.vs/
*.ipch
ipch/

# CMake build directories (very recommended)
build/
out/
_build/
CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json

# Other common junk
*.pdb
*.exe
*.obj
*.o
\!_PowerEngine/\!_DX_11_ver/PowerEngine/.vs/PowerEngine.slnx/v18/.wsuo
\!_PowerEngine/\!_DX_11_ver/PowerEngine/.vs/PowerEngine.slnx/v18/Browse.VC.db
\!_PowerEngine/\!_DX_11_ver/PowerEngine/.vs/PowerEngine.slnx/v18/DocumentLayout.json
\!_PowerEngine/\!_DX_11_ver/PowerEngine/.vs/slnx.sqlite
\!_PowerEngine/\!_DX_11_ver/PowerEngine/.vs/VSWorkspaceState.json
*.json
*.sqlite
*.db
*.db
